* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Futura-PT", sans-serif;
  line-height: 1.5;
  background: #ffffff;
}

img {
  width: 100%;
}

/* // utilities */
.container {
  max-width: 1100px;
  margin: 20px auto;
  padding: 0 2rem;
  overflow: hidden;
  background: #ffffff;
}

.container-n {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.container-f {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.py-1 {
  padding-top: 50px;
  padding-bottom: 20px;
}

.py-2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-3 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.align {
  text-align: center;
}

.bottom-line {
  height: 0.6rem;
  width: 8rem;
  background: #e51b2f;
  display: block;
  margin: 0 auto 1rem auto;
  border-radius: 10px;
}

.section-title {
  padding-top: 50px;
  padding-bottom: 5px;
}

.section-heading {
  font-size: 43px;
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

.section-subtitle {
  padding-bottom: 20px;
}

/* // Navigation */
#main-nav {
  background: #e51b2f;
  position: sticky;
  top: 0;
  z-index: 2;
}

#main-nav .logo {
  width: 120px;
}

span h2 {
  color: #ffffff;
  display: inline-block;
  font-family: "Georgia", sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: 800;
  margin: 0;
}

#main-nav h2 {
  text-align: center;
}

#main-nav .container-n {
  display: grid;
  grid-template-columns: 1fr 3fr 9fr;
  padding: 0 1rem;
  align-items: center;
}

#main-nav ul {
  color: #ffffff;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 20px;
  font-size: 12px;
  text-decoration: none;
  list-style: none;
  margin: 0;
}

ul li {
  text-decoration: none;
  border-left: 0.5px solid #ffffff;
  text-align: center;
}

#main-nav a:hover {
  color: #2e3439;
}

#main-nav a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
}

#myCarousel {
  z-index: -1;
}

/* // Models Gallery section */
.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.2rem;
}

.item {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

.item-text p {
  text-align: center;
  color: #e51b2f;
}

.item-text h6 {
  text-align: center;
  color: #2e3439;
  padding-bottom: 10px;
}

.item:hover {
  border: 1px solid #e51b2f;
}

/* // Test Drive */
.test-info {
  display: grid;
  grid-template-areas: "t-img t-con t-con";
  grid-gap: 1.2rem;
}

/* // Grid Area */
.test-image {
  grid-area: t-img;
}

.test {
  grid-area: t-con;
  border-left: 3px solid #e51b2f;
  padding: 0.8rem;
}

.test-info {
  padding: 50px;
  margin-top: 50px;
}

#test-drive .container {
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

/* // Servicing */
.servicing-info {
  display: grid;
  grid-template-areas: " t-con t-con t-img ";
  grid-gap: 1.2rem;
}

#servicing-book h2 {
  padding-top: 50px;
  text-align: center;
}

#servicing-book .container {
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

.servicing-image {
  grid-area: t-img;
}

.servicing {
  grid-area: t-con;
  border-right: #e51b2f 3px solid;
  padding: 0.8rem;
}

.servicing-info {
  padding: 50px;
  margin-top: 50px;
  border-radius: 20px;
}

#servicing-book h2 {
  padding-top: 50px;
  text-align: center;
}

/* // Testimonials */
.testimonials {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5rem;
}

.quote {
  color: #e51b2f;
}

.test-border {
  border: 2px solid #979a9c;
  border-radius: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  font-style: italic;
  background: #eae9e6;
  padding: 20px;
}

.parallax {
  /* The image used */
  background-image: url("../img/happy1.jpg");
  /* Set a specific height */
  min-height: 300px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  /* The image used */
  background-image: url("../img/happy2.jpg");
  min-height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax3 {
  /* The image used */
  background-image: url("../img/happy3.jpg");
  /* Set a specific height */
  min-height: 300px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-text {
  height: 300px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 22px;
  font-style: italic;
  background: #ffffff;
}

.parallax-text2 {
  height: 150px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 22px;
  font-style: italic;
  background: #ffffff;
}

.parallax-text3 {
  height: 200px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 22px;
  font-style: italic;
  background: #ffffff;
}

.location {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
  padding: 20px;
}

.location p {
  font-size: 12px;
  padding: 20px;
}

#location .location-border p {
  border-right: 3px solid #e51b2f;
}

.loc-subtitle {
  text-transform: uppercase;
  font-weight: 600;
}

#location .content-text {
  font-size: 16px;
  font-weight: 400;
}

/* // Footer */
#main-footer {
  height: auto;
  background: #4f4f4f;
}

#main-footer p {
  height: 10rem;
  font-size: 14px;
}

#main-footer h3 {
  margin-bottom: 10px;
}

.social .fab {
  margin-right: 1rem;
  border: 2px #fff solid;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  line-height: 20px;
  text-align: center;
  padding: 0.5rem;
}

.social .fab:hover {
  border: 2px solid #e51b2f;
}

#main-footer .container-f {
  display: grid;
  grid-template-columns: 7fr 4fr;
  align-items: center;
  grid-gap: 10rem;
  padding: 20px;
  background: #4f4f4f;
  color: #ffffff;
}

.items-sh {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0.2rem;
}

.item {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

.items-s:hover {
  opacity: 0.5;
}

.row > .column {
  padding: 8px 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 70%;
  max-width: 1100px;
}

/* The Close Button */
.close {
  color: #ffffff;
  position: absolute;
  top: 85px;
  right: 150px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #ffffff;
  background: #4f4f4f;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #ffffff;
  background: #4f4f4f;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "prev button" to the left */
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 16px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*# sourceMappingURL=main.css.map */