// Tablets & Smaller
@media (max-width: 800px) {
  #main-nav a {
    text-decoration: none;
    color: $main-color;
    font-size: 8px;
  }
}

// Smartphones
@media (max-width: 500px) {
  .top-nav span {
    display: none;
  }
}

// Landscape
@media (max-height: 580px) {
  #header-home {
    .header-content {
      padding-top: 3rem;
    }
  }
}

@media (max-height: 330px) {
}
