// Parallax Effect

.parallax {
  /* The image used */
  background-image: url("../img/happy1.jpg");

  /* Set a specific height */
  min-height: 300px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax2 {
  /* The image used */
  background-image: url("../img/happy2.jpg");
  min-height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax3 {
  /* The image used */
  background-image: url("../img/happy3.jpg");

  /* Set a specific height */
  min-height: 300px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-text {
  height: 300px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 22px;
  font-style: italic;
  background: $main-color;
}

.parallax-text2 {
  height: 150px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 22px;
  font-style: italic;
  background: $main-color;
}

.parallax-text3 {
  height: 200px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 22px;
  font-style: italic;
  background: $main-color;
}
