$banner-color: #e51b2f;
$main-color: #ffffff;
$primary-color: #4f4f4f;
$secondary-color: #2e3439;
$hover-color: #979a9c;
$bg-main: #eae9e6;
$max-width: 1100px;
$nav-font: "Lato", Arial, Helvetica, sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import "parallax";

@font-face {
  font-family: myFirstFont;
  src: url(Penthouse-ExtraBold);
}
div {
  font-family: myFirstFont;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  background: $main-color;
}

img {
  width: 100%;
}

/* // utilities */

.container {
  max-width: $max-width;
  margin: 20px auto;
  padding: 0 2rem;
  overflow: hidden;
  background: $main-color;
}
.container-n {
  max-width: $max-width;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.container-f {
  max-width: $max-width;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.py-1 {
  padding-top: 50px;
  padding-bottom: 20px;
}

.py-2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-3 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.bottom-line {
  height: 0.6rem;
  width: 8rem;
  background: $banner-color;
  display: block;
  margin: 0 auto 1rem auto;
  border-radius: 10px;
  display: block;
  margin-bottom: 60px;
}

.title-splstyle {
  padding-top: 10px;
  padding-bottom: 5px;
  font-family: myFirstFont;
  font-size: 45px;
}
.subtitle-splstyle {
  font-family: $nav-font;
  font-size: 28px;
  font-style: italic;
  padding-bottom: 20px;
}

.title-style {
  padding-top: 50px;
  padding-bottom: 5px;
  font-family: myFirstFont;
  font-size: 45px;
  text-align: center;
}

.section-space {
  padding-top: 40px;
  padding-bottom: 50px;
}

.subtitle-style {
  font-family: $nav-font;
  font-size: 24px;
  text-align: center;
}
.content-style {
  font-family: $nav-font;
  font-size: 20px;
  line-height: 2em;
  text-align: center;
}

.content-style-footer {
  font-family: $nav-font;
  font-size: 14px;
}

.quote-style {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 24px;
  font-style: italic;
  padding-top: 20px;
  padding-bottom: 80px;
}

/* // Navigation */

#main-nav {
  background: $banner-color;
  position: sticky;
  top: 0;
  z-index: 2;
  height: 70px;
  padding: 5px;
}

#main-nav .logo {
  width: 100px;
  height: 55px;
  overflow: hidden;
}

.main-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
}
#main-nav span h2 {
  color: $main-color;
  display: inline-block;
  font-family: myFirstFont;
  font-size: 21px;
  text-align: center;
  font-weight: 800;
  margin: 0;
  padding: 0;
  // padding: 0 15px;
}

#main-nav .container-n {
  display: grid;
  grid-template-columns: 3.8fr 8.2fr;
  padding: 0 1rem;
  align-items: center;
  text-align: center;
}

#main-nav ul {
  color: $main-color;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding-left: 0;
  font-size: 14px;
  text-decoration: none;
  list-style: none;
  margin: 0;
  text-align: center;
}

.top-nav .fas {
  padding-right: 10px;
}

ul li {
  text-decoration: none;
  text-align: center;
  font-family: $nav-font;
  border-left: 0.5px solid $main-color;
  justify-content: center;
}

#main-nav li a:hover {
  color: $secondary-color;
}

#main-nav a {
  text-decoration: none;
  color: $main-color;
}

#main-nav .icon {
  display: none;
}

// Intro Section

.intro-text {
  font-size: 22px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

// Banner Carousel

#myCarousel {
  z-index: -10;
}

#myCarousel {
  img {
    width: 100%;
    height: 95vh;
  }
}

/* // Models Gallery section */

#gallery {
  .items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.2rem;
  }
  .item {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    padding: 25px;
  }

  .item1 {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    padding: 60px 25px 15px 25px;
  }

  .item1 .item-text {
    padding-top: 45px;
  }

  .item2 {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    padding: 95px 25px 15px 25px;
  }

  .item2 .item-text {
    padding-top: 95px;
  }
  .item-text p {
    text-align: center;
    color: $banner-color;
    font-family: $nav-font;
  }

  .item-text h6 {
    text-align: center;
    color: $secondary-color;
    padding-bottom: 10px;
    font-family: $nav-font;
  }

  .item:hover {
    border: 1px solid $banner-color;
  }
  .item1:hover {
    border: 1px solid $banner-color;
  }
  .item2:hover {
    border: 1px solid $banner-color;
  }
}

/* // Test Drive */

.test-info {
  display: grid;
  grid-template-areas: "t-img t-con";
  grid-gap: 1.2rem;
}

/* // Grid Area */
.test-image {
  grid-area: t-img;
  width: 130px;
}

.test {
  grid-area: t-con;
  // border-left: 3px solid $banner-color;
  padding: 0.8rem;
  // text-align: right;
}

.test h3 {
  padding-top: 10px;
  font-family: $nav-font;
}

.test-info {
  padding: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-top: 4px solid $banner-color;
  border-bottom: 4px solid $banner-color;
  border-radius: 10px;
  align-items: center;
}

#test-drive .container {
  // border-radius: 10px;
  // box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  color: $main-color;
  background: $secondary-color;
}

#test-drive {
  background: $secondary-color;
}

#test-drive .bottom-lines1 {
  height: 0.6rem;
  width: 8rem;
  background: $banner-color;
  display: block;
  border-radius: 10px;
  margin-bottom: 60px;
}

.test .red {
  color: $banner-color;
  text-align: right;
  margin-left: 10px;
}

.test-img {
  width: 80%;
}
/* // Servicing */

.servicing-info {
  display: grid;
  grid-template-areas: " t-con t-img ";
  grid-gap: 8rem;
  align-items: center;
}

#servicing-book h2 {
  text-align: left;
}
#servicing-book h3 {
  padding-top: 10px;
  text-align: left;
  font-family: $nav-font;
}

.servicing .bottom-lines2 {
  height: 0.6rem;
  width: 8rem;
  background: $banner-color;
  display: block;
  border-radius: 10px;
  display: block;
  margin-bottom: 60px;
}

#servicing-book .container {
  // border-radius: 10px;
  // box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  color: $main-color;
  background: $secondary-color;
}

#servicing-book {
  background: $secondary-color;
}

.servicing-image {
  grid-area: t-img;
}

.servicing {
  grid-area: t-con;
  // border-right: $banner-color 3px solid;
  padding: 0.8rem;
  text-align: left;
}

.servicing .red {
  color: $banner-color;
  margin-left: 10px;
}

.servicing-info {
  padding: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-top: 4px solid $banner-color;
  border-bottom: 4px solid $banner-color;
  border-radius: 10px;
}

// Gallery - Showroom

// #gallery-s {
//   box-shadow: 8px 0 10px -4px $secondary-color,
//     -8px 0 10px -4px $secondary-color;
// }

#gallery-s .row {
  padding-top: 30px;
  padding-bottom: 50px;
}

/* // Testimonials */

#customer h3 {
  margin-bottom: 50px;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5rem;
}

.quote {
  color: $banner-color;
}
.test-border {
  border: 2px solid $hover-color;
  border-radius: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  font-style: italic;
  background: $bg-main;
  padding: 20px;
}

// Locations

.location {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
  padding: 20px;
}

.location p {
  font-size: 12px;
  padding: 20px;
}

#location .location-img {
  display: flex;
  align-items: center;
}

#location h3 {
  padding-bottom: 30px;
}

#location h4 {
  padding-bottom: 10px;
  text-align: center;
}

.location span {
  color: $banner-color;
  text-align: center;
}

#location .location-border p {
  border-right: 3px solid $banner-color;
}

#location .container {
  // box-shadow: 2px 0 2px 2px rgba(0, 0, 0, 0.3);
  margin-top: 100px;
  box-shadow: 0 12px 0px 0px white, 0 -12px 0px 0px white,
    8px 0 10px -4px rgba(0, 0, 0, 0.3), -8px 0 10px -4px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.loc-subtitle {
  text-transform: uppercase;
  font-weight: 600;
  font-family: $nav-font;
  text-align: center;
}

#location .content-text {
  font-size: 16px;
  font-weight: 400;
  font-family: $nav-font;
}
/* // Footer */
#main-footer {
  height: auto;
  background: $secondary-color;
}
#main-footer p {
  height: 10rem;
  font-size: 14px;
}
#main-footer h3 {
  margin-bottom: 10px;
}

.social .fab {
  margin-right: 1rem;
  border: 2px #fff solid;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  line-height: 20px;
  text-align: center;
  padding: 0.5rem;
}
.social .fab:hover {
  border: 2px solid $banner-color;
}

#main-footer .container-f {
  display: grid;
  grid-template-columns: 7fr 4fr;
  align-items: center;
  grid-gap: 10rem;
  padding: 20px;
  background: $secondary-color;
  color: $main-color;
}

#main-footer a {
  text-decoration: none;
  color: $main-color;
}

// Showroom Gallery

// Model Image trial

.row > .column {
  padding: 20px 8px;
  margin-top: 20px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
  width: 25%;
  height: 180px;
}
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}
/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 70%;
  max-width: 1100px;
}
/* The Close Button */
.close {
  color: $main-color;
  position: absolute;
  // top: 10px;
  // right: 25px;
  top: 85px;
  right: 150px;
  font-size: 35px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: $main-color;
  text-decoration: none;
  cursor: pointer;
}
.mySlides {
  display: none;
}
.cursor {
  cursor: pointer;
}
/* Next & previous buttons */
.prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: $main-color;
  background: $primary-color;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: $main-color;
  background: $primary-color;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
/* Position the "prev button" to the left */

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 16px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}
.demo {
  opacity: 0.6;
}
.active,
.demo:hover {
  opacity: 1;
}
img.hover-shadow {
  transition: 0.3s;
}

#gallery-s span {
  position: absolute;
  display: block;
}

.hover-shadow:hover {
  //   // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 $secondary-color, 0 6px 20px 0 $secondary-color;
}

// Model Image trial
